*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    height: 10%;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    border-radius: 2vh;
}

#resume-builder {
    border-radius: 2vh 0vh 0vh 2vh;
    display: inline;
    float: left;
    background-color: rgb(85, 84, 84);
}

#login, #register {
    display: inline;
    float: right;
    background-color: rgb(85, 84, 84);
    margin-left: 0.25vh;
}

#register {
    border-radius: 2vh 0vh 0vh 2vh;
}

#login {
    border-radius: 0vh 2vh 2vh 0vh;
}

#topic {
    display: inline;
    font-size: larger;
    text-align: center;
}

body header ul li a {
    display: block;
    padding: 3.5vh;
    text-decoration: none;
    font-size: large;
}

#resume-builder:hover, #login:hover, #register:hover, #btn:hover {
    background-color: black;
}

#image {
    width: 50%;
    margin-left: 38%;
    margin-top: -35%;
    height: 50%;
}

#heading {
    width: 40%;
}

#title {
    margin-top: 25%;
    margin-left: 6%;
    font-size: 3.8vh;
    line-height: 3vh;
}

#content {
    margin-top: 5%;
    margin-left: 6%;
    font-size: 2.8vh;
    line-height: 4vh;
}

#btn {
    text-align: left;
    letter-spacing: 1.2;
    margin-left: 6%;
    margin-top: 10%;
    background-color: rgb(85, 84, 84);
    border-color: black;
    height: 8vh;
    width: 45vh;
    border-radius: 1.5vh;
    font-size: 2.2vh;
}

#btn:hover {
    cursor: pointer;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: linear-gradient(360deg, #6e03e8 0%,  #b801fb 100%);
    overflow: hidden;
}

.background span {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: rgba(226, 127, 243, 0.421);
    animation: animate 12s linear infinite;
    z-index: -1;
}

.background span:nth-child(0) {
    left: 29%;
    width: 197px;
    height: 197px;
    bottom: -197px;
    animation-delay: 1s;
}
.background span:nth-child(1) {
    left: 41%;
    width: 167px;
    height: 167px;
    bottom: -167px;
    animation-delay: 5s;
}
.background span:nth-child(2) {
    left: 29%;
    width: 178px;
    height: 178px;
    bottom: -178px;
    animation-delay: 2s;
}
.background span:nth-child(3) {
    left: 50%;
    width: 175px;
    height: 175px;
    bottom: -175px;
    animation-delay: 12s;
}
.background span:nth-child(4) {
    left: 23%;
    width: 156px;
    height: 156px;
    bottom: -156px;
    animation-delay: 17s;
}
.background span:nth-child(5) {
    left: 14%;
    width: 176px;
    height: 176px;
    bottom: -176px;
    animation-delay: 6s;
}
.background span:nth-child(6) {
    left: 43%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 22s;
}
.background span:nth-child(7) {
    left: 67%;
    width: 152px;
    height: 152px;
    bottom: -152px;
    animation-delay: 19s;
}
.background span:nth-child(8) {
    left: 49%;
    width: 189px;
    height: 189px;
    bottom: -189px;
    animation-delay: 37s;
}
.background span:nth-child(9) {
    left: 71%;
    width: 177px;
    height: 177px;
    bottom: -177px;
    animation-delay: 38s;
}
.background span:nth-child(10) {
    left: 24%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 27s;
}
.background span:nth-child(11) {
    left: 6%;
    width: 174px;
    height: 174px;
    bottom: -174px;
    animation-delay: 54s;
}
.background span:nth-child(12) {
    left: 39%;
    width: 144px;
    height: 144px;
    bottom: -144px;
    animation-delay: 1s;
}
.background span:nth-child(13) {
    left: 51%;
    width: 170px;
    height: 170px;
    bottom: -170px;
    animation-delay: 50s;
}
.background span:nth-child(14) {
    left: 24%;
    width: 131px;
    height: 131px;
    bottom: -131px;
    animation-delay: 70s;
}
.background span:nth-child(15) {
    left: 86%;
    width: 144px;
    height: 144px;
    bottom: -144px;
    animation-delay: 75s;
}
.background span:nth-child(16) {
    left: 16%;
    width: 132px;
    height: 132px;
    bottom: -132px;
    animation-delay: 27s;
}
.background span:nth-child(17) {
    left: 81%;
    width: 128px;
    height: 128px;
    bottom: -128px;
    animation-delay: 62s;
}
.background span:nth-child(18) {
    left: 34%;
    width: 154px;
    height: 154px;
    bottom: -154px;
    animation-delay: 51s;
}
.background span:nth-child(19) {
    left: 23%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 32s;
}
.background span:nth-child(20) {
    left: 49%;
    width: 176px;
    height: 176px;
    bottom: -176px;
    animation-delay: 41s;
}
.background span:nth-child(21) {
    left: 88%;
    width: 174px;
    height: 174px;
    bottom: -174px;
    animation-delay: 44s;
}
.background span:nth-child(22) {
    left: 82%;
    width: 150px;
    height: 150px;
    bottom: -150px;
    animation-delay: 15s;
}
.background span:nth-child(23) {
    left: 27%;
    width: 180px;
    height: 180px;
    bottom: -180px;
    animation-delay: 56s;
}
.background span:nth-child(24) {
    left: 56%;
    width: 167px;
    height: 167px;
    bottom: -167px;
    animation-delay: 16s;
}
.background span:nth-child(25) {
    left: 66%;
    width: 149px;
    height: 149px;
    bottom: -149px;
    animation-delay: 108s;
}
.background span:nth-child(26) {
    left: 2%;
    width: 144px;
    height: 144px;
    bottom: -144px;
    animation-delay: 120s;
}
.background span:nth-child(27) {
    left: 8%;
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 50s;
}
.background span:nth-child(28) {
    left: 34%;
    width: 141px;
    height: 141px;
    bottom: -141px;
    animation-delay: 63s;
}
.background span:nth-child(29) {
    left: 69%;
    width: 147px;
    height: 147px;
    bottom: -147px;
    animation-delay: 34s;
}


#mainDiv {
    width: 200px;
    height: 200px;
    margin: 200px auto;
    perspective: 800px;
}

#boxDiv {
    width: 300px;   
    transform-style: preserve-3d; 
    animation: rotate 15s linear infinite;
}

#boxDiv div {
    position: absolute;
    width: 300px;
    height: 300px;
    opacity: 0.9 ;
    color: white;
}

#front {
    transform: translateZ(150px);
    background: black;
    background-image: url('resumebg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px ;
}


#back {
    transform: rotateY(180deg) translateZ(150px);
    background: #101010;
    background-image: url('resumebg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px ;   
}

#left {
    transform: rotateY(-90deg) translateX(-150px);
    transform-origin: left;
    background: black;
    background-image: url('resumebg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px ;  
}

#right {
    transform: rotateY(90deg) translateX(150px);
    transform-origin: right;
    background: #101010;  
    background-image: url('resumebg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px ;  
}

#top {
    transform: rotateX(-90deg) translateY(-150px);
    transform-origin: top;
    background: black;
    background-image: url('resumebg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px ;   
}

#bottom {
    transform: rotateX(90deg) translateY(150px);
    transform-origin: bottom;
    background: #101010; 
    background-image: url('resumebg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px ;   
}

@keyframes rotate {
    0% { transform: rotateY(0); }
    100% { transform: rotateY(360deg); }
}


.shadow {
    width: 300px;
    height: 300px;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 0 50px 50px rgba(0,0,0,0.5);
    -webkit-transform: rotateX(90deg) translateZ(-250px) rotateY(180deg) translateX(0px);

}
