{% extends 'base.html' %}
{% block title %}
Login
{% endblock title %}
{% block content %}
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" id="pop-up" style="width:350px; text-align:center; position:absolute; bottom:0; right:0; margin-bottom:4%; margin-right:2%;">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}
    <main>
    <section class="glass">
    <div class="section">
    <div class="heading"><h1><strong><u>Login</u></strong></h1></div>
    <br/><br/>
    <form action="" method="POST">
        {% csrf_token %}

        <div class="form">
        <div class="form-group">
            <label class="label" for="exampleInputEmail1"><strong>Username</strong></label>
            <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1"><strong>Password</strong></label>
            <input type="password" class="form-control" name="password">
          </div>
        <input type="submit" value="Submit" class="btn btn-dark" id="submit-btn"> 
        </div>
    </form>
    </div>
</section>
</main>
{% endblock content %}
