{% extends 'base.html' %}
{% block title %}
Register
{% endblock title %}
{% block content %}
        <div>
            {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" id="pop-up" style="width:350px; text-align:center; position:absolute; bottom:0; right:0; margin-bottom:4%; margin-right:2%;">
                There was an error with your form
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endif %}
        <main>
        <section class="glass">
        <h1 class="heading" style="margin-bottom: -8%;"><strong><u>Register</u></strong></h1>
        <br/><br/>
        
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}

            <div class="form">
            <div class="form-group">
                <label for="id_username"><strong>Username</strong></label>
                <input type="text" class="form-control" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username">
            </div>
            <div class="form-group">
                <label for="id_password1"><strong>Password</strong></label>
                <input type="password" class="form-control" name="password1" autocomplete="new-password" required id="id_password1">
    
            </div>
            <div class="form-group">
                <label for="id_password2"><strong>Password confirmation</strong></label>
                <input type="password" class="form-control" name="password2" autocomplete="new-password" required id="id_password2">
            </div>

            <br/><br/>
            <input type="submit" value="Submit" class="btn btn-dark" id="submit-button">
        </div>
        </form>
    </section>
    </main>
{% endblock content %}

