{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choose Your Template</title>
    <link rel="stylesheet" href="{% static 'resumeGenerator/cards.css' %}"/>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container" style="align-items:center; margin:auto; margin-top: 4%">
      <div class="card">
        <div class="content" style="background-image: url({% static 'resumeGenerator/resume1.png' %}); width: 280px; height: 400px;">
          <h1></h1>
          <h3></h3>
          <p>
          </p>
          <a href="{% url 'resume1' %}" style="width:280px; height:400px; margin:-8%; background:transparent; border: none !important; font-size:0;">Click Here</a>
        </div>
      </div>
      <div class="card">
        <div class="content" style="background-image: url({% static 'resumeGenerator/resume2.png' %}); width: 280px; height: 400px;">
          <h1></h1>
          <h2></h2>
          <p>
          </p>
          <a href="{% url 'resume2' %}" style="width:280px; height:400px; margin:-8%; background:transparent; border: none !important; font-size:0;">Click Here</a>
        </div>
      </div>
      <div class="card">
        <div class="content" style="background-image: url({% static 'resumeGenerator/resume3.png' %}); width: 280px; height: 400px;">
          <h1></h1>
          <h2></h2>
          <p>
          </p>
          <a href="{% url 'resume3' %}" style="width:280px; height:400px; margin:-8%; background:transparent; border: none !important; font-size:0;">Click Here</a>
        </div>
      </div>
      <br />
    </div>
    <script
      type="text/javascript"
      src="{% static 'resumeGenerator/vanillaTilt.js' %}"
    ></script>
    <script>
      VanillaTilt.init(document.querySelectorAll(".card"), {
        max: 25,
        speed: 400,
        glare: true,
        "max-glare": 1,
      });
    </script>
  </body>
</html>
