{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Resume</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="{% static 'resumeGenerator/mdb.rtl.min.css' %}" rel="stylesheet">
    <link href="{% static 'resumeGenerator/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'resumeGenerator/aos.css' %}" rel="stylesheet">
    <link href="{% static 'resumeGenerator/main.css' %}" rel="stylesheet">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body class="bg-light" id="top">
    <header class="d-print-none">
      <div class="container text-center text-lg-left">
      </div>
    </header>
    <div class="page-content">
      <div class="container">
<div class="resume-container">
  <div class="shadow-1-strong bg-white my-5" id="intro">
    <div class="bg-info text-white">
      <div class="cover bg-image"><img src="{% static 'resumeGenerator/header-bg.jpg' %}"/>
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);backdrop-filter: blur(2px);">
          <div class="text-center p-5">
            <div class="avatar p-1"><img class="img-thumbnail shadow-2-strong" src="images/avatar.jpg" width="100" height="100" style="visibility:hidden"/></div>
            <div class="header-bio mt-3">
              <div data-aos="zoom-in" data-aos-delay="0">
                <h1 class="h1">{{first_name}} {{last_name}}</h1>
                <p>{{address}}</p>
              </div>
              <div class="header-social mb-3 d-print-none" data-aos="zoom-in" data-aos-delay="200">
                <nav role="navigation">
                  <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link" href="{{linkedin}}"><i class="fa fa-linkedin"></i></span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{github}}"><i class="fa fa-github"></i></span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{email}}"><i class="fa fa-envelope"></i></span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">{{mobile}}</span></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow-1-strong bg-white my-5 p-5" id="education">
    <div class="education-section">
      <h2 class="h2 fw-light mb-4">Education</h2>
      <div class="timeline">
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">10th {{board10}} <span class="text-muted h6">from {{school10_name}}</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">{Passing Year}</div>
            <div>I did my 10th from {{school10_name}} the board being {{board10}} with a result of {{result10}}.</div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="200">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">12th {{board12}} <span class="text-muted h6">from {{school12_name}}</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">{{passing_year12}}</div>
            <div>I did my 12th from {{school12_name}} the board being {{board12}} with a result of {{result12}}.</div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="400">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">{{degree}} {{stream}} <span class="text-muted h6">from {{varsity_name}}</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">{{passing_year}}</div>
            <div>I'm currently pursuing {{degree}} degree from {{varsity_name}} in the field of {{stream}} with a current CPI of {{result}} and would be passing out in the year {{passing_year}}.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow-1-strong bg-white my-5 p-5" id="skills">
    <div class="skills-section">
      <h2 class="h2 fw-light mb-4">Skills</h2>
      <div class="row">
        <div class="col-md-6">
          <p>{{skill_detail}}</p>
      </div>
    </div>
  </div>
  </div>
  
  <div class="shadow-1-strong bg-white my-5 p-5" id="education">
    <div class="education-section">
      <h2 class="h2 fw-light mb-4">Projects</h2>
      <p>{{project_detail}}</p>
    </div>
  </div>
  <div class="shadow-1-strong bg-white my-5 p-5" id="education">
    <div class="education-section">
      <h2 class="h2 fw-light mb-4">Achievements</h2>
      <p>{{achievement_detail}}</p>
    </div>
  </div>
    <script src="{% static 'resumeGenerator/mdb.min.js' %}"></script>
    <script src="{% static 'resumeGenerator/aos.js' %}"></script>
    <script src="{% static 'resumeGenerator/main.js' %}"></script>
  </body>

  <div class="dashboard" style="text-align:center" >
    <button id="btn" class="btn btn-dark" onclick="location.href='{% url 'dashboard' %}'" style="margin-bottom:5%;">Go to Dashboard</button>
  </div>
</html>
