{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'landingPage/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title> Resume Builder </title>
    </head>

    <body>
        <div class="background">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            {% include 'navbar.html' %}
        <div>
        <main>
            <div id="heading">
                <h1 id="title">Welcome to the Resume Builder Website!</h1>
                <p id="content">Resume of an individual holds great importance in representing ones entire work, life, personality and skills. This clearly emphasizes the dire need of a subtle precise resume. Well, this would not be your portion of concern. Let the Resume Builder Website do the heavy lifting!</p>
                {% if user.is_authenticated %}
                <button id="btn" style="color:white" onclick="location.href='{% url 'dashboard' %}'">
                    <div style="margin:4%"> START BUILDING MY RESUME...
                    <i class="fa fa-arrow-circle-right fa-lg" aria-hidden="true"></i>
                    </div>
                </button>
                {% else %}
                <button id="btn" style="color:white" onclick="location.href='{% url 'login' %}'">
                    <div style="margin:4%"> START BUILDING MY RESUME...
                    <i class="fa fa-arrow-circle-right fa-lg" aria-hidden="true"></i>
                    </div>
                </button>
                {% endif %}
            </div>
            <div id="image">
                <div id="mainDiv">
                    <div id="boxDiv">
                        <div id="front"></div>
                        <div id="back"></div>
                        <div id="left"></div>
                        <div id="right"></div>
                        <div id="top"></div>
                        <div id="bottom"></div>
                        <div class="shadow"></div>
                    </div>
                </div>    
            </div>
        </main>
    </div>
</div>
    </body>

</html>
